$c-white: #FFF;
$c-bg-default: #F8FAFC;
$c-title-description: #000000;
$c-blue: #3662E3;
$c-grey: #97A3B6;
$c-light-grey: #E3E8EF;
$c-red: #DD524C;
$c-light-red: #F7D4D3;
$c-orange: #E9A23B;
$c-light-orange: #F5D565;
$c-lighter-orange: #F5E8D5;
$c-green: #32D657;
$c-light-green: #A0ECB1;


$c-btn-delet: #97A3B6


