$c-white: #FFF;
$c-bg-default: #F8FAFC;
$c-title-description: #000000;
$c-task-new: #F5E8D5;
$c-task-progress: #F5D565;
$c-task-completed: #A0ECB1;
$c-task-wont: #F7D4D3;
$c-task-todo: #E3E8EF;
$c-btn-progress-and-new: #E9A23B;
$c-btn-completed: #32D657;
$c-btn-wont: #DD524C;
$c-btn-save-and-select: #3662E3;
$c-btn-delet: #97A3B6


